.popup-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;

  &.no {
    display: none;
  }

  .link-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .popup {
    position: relative;
  }

  .image-box {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .popup-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 50%;
    bottom: 5px;
    z-index: 1;
    margin-right: -576px;
    width: 150px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;


    label {
      color: #fff;
      font-size: 12px;
      display: flex;
      gap: 4px;

      &::before {
        content: "";
        display: block;
        background-color: #fff;
        border: 1px solid #dddddd;
        width: 10px;
        height: 10px;
      }

      &.checked {
        &::before {
          content: "";
          display: block;
          background-color: #fff;
          border: 1px solid #dddddd;
          width: 10px;
          height: 10px;
          background: #fff url("../images/icon_input_checked_m.png") no-repeat 50% 50%;
          background-size: 10px auto;
        }
      }
    }

    .popup-close-btn {
      width: 24px;
      height: 24px;
      background: url("../images/btn_allmenu_close.png") no-repeat center center;
      background-size: 50% auto;
      cursor: pointer;
    }

  }
}



.container .headline {
  font-size: 24px;
  font-weight: 500;
}

.language-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  margin-bottom: 10px;


  .global-language {
    border: 1px solid #afcfea;
    color: #1E6CB3;
    -webkit-appearance: none;
    appearance: none;
    padding: 2px 20px 2px 5px;
    background-image: url("../images/bg_select_arrow_m.png");
    background-repeat: no-repeat;
    background-size: 8px 5px;
    background-position: 96%, 5px;

  }

  .select-lang-btn {
    background-color: #1E6CB3;
    color: #fff;
    height: 21px;
    font-size: 11px;
    padding: 0 5px;
    font-weight: 300;
  }
}


.section-search_weather {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;

  .slogan {
    display: block;
    background: url("../images/seoul-slogan.png") no-repeat;
    width: 133px;
    height: 51px;
  }

  .search {
    &-area {
      border: 3px solid #2292e9;
      height: 42px;
      width: 520px;
      display: flex;
      align-items: center;
      position: relative;

      &>* {
        width: 100%;
      }

    }

    &-input {
      padding: 10px;
      width: calc(100% - 100px);

      &::placeholder {
        color: #2292e9;
        font-size: 14px;
        font-weight: 300;
      }
    }

    &-btn-area {
      display: flex;
      gap: 15px;
      align-items: center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      .keyboard-btn {
        width: 29px;
        height: 16px;
        background: url("../images/search_input_icon.png") no-repeat;
      }

      .search-btn {
        width: 36px;
        height: 36px;
        background: url("../images/icon_set_common.png") -40px -97px;
      }
    }
  }

  .weather-area {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/header-weather.png");

    .title {
      font-size: 14px;
      font-weight: 500;
      padding-top: 15px;
    }

    .status {
      font-size: 18px;
      color: #fff;
      padding: 13px 0;
    }

  }
}

.grid-area {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 350px;
  gap: 20px;

  .section-issue {
    display: flex;
    align-items: center;
    grid-column: span 7;

    .issue-button-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      height: 100%;

      button {
        flex: 1;
        width: 100%;
        font-size: 14px;
        background-color: #d2e1e9;
        cursor: pointer;

        &.btn-news {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &:before {
            content: "";
            width: 50px;
            height: 50px;
            display: block;
            background: url("../images/icon_main_2019.png") no-repeat 0px 0;
            border-radius: 50%;
            background-color: #fff;
          }

        }

        &.btn-citizen {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &:before {
            content: "";
            width: 50px;
            height: 50px;
            display: block;
            background: url("../images/icon_main_2019.png") no-repeat -50px 0;
            border-radius: 50%;
            background-color: #fff;
          }
        }

        &.on {
          background-color: #0158a8;
          position: relative;

          span {
            color: #fff;
          }

          &::after {
            content: " ";
            position: absolute;
            left: 99%;
            top: 50%;
            width: 0;
            height: 0;
            z-index: 10;
            border-style: solid;
            border-width: 25px 0 25px 32px;
            border-color: transparent transparent transparent #0158a8;
            margin-top: -25px;
          }
        }

      }
    }

    .swiper {
      width: 720px;
      height: 350px;
      margin-right: 0;
      margin-left: 0;

      &-slide {
        width: 100%;

        a {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          height: 100%;

          .thumb-box {
            width: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .text-box {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 720px;
            background: rgba(0, 0, 0, 0.7);
            padding: 15px;
            box-sizing: border-box;
            color: #fff;
            font-size: 14px;
            font-weight: 300;

          }
        }
      }

      .swiper-control-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 0px;
        right: 0;
        z-index: 1;
        padding: 12px;

        .pagination {
          width: 40px;
          color: #fff;
          display: flex;
          align-items: center;

          span {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
          }

          &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 20px;
            background: rgba(255, 255, 255, .5);
            margin-left: 10px;
          }

        }

        .btn-prev {
          background: url("../images/icon_set_common2.png") no-repeat -242px -284px;
          width: 20px;
          height: 20px;
          margin-left: 6px;
          cursor: pointer;
        }

        .btn-autoplay {
          width: 20px;
          height: 20px;
          background: url("../images/icon_set_common2.png") no-repeat -269px -284px;
          cursor: pointer;

          &.pause {
            background: url("../images/icon_set_common2.png") no-repeat -282px -284px;
          }
        }



        .btn-next {
          background: url("../images/icon_set_common2.png") no-repeat -255px -284px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .section-covid_mayor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: span 3;

    .covid19-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      padding: 7px;
      background: #99ddf4;
      letter-spacing: -1px;

      .title {
        font-size: 15px;
        font-weight: 600;
      }

      .confirmed {
        display: flex;
        align-items: center;
        background: #319ac6;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        padding-left: 4px;
        border-radius: 5px;
        overflow: hidden;

        .count {
          margin: 0 3px;
          font-weight: 400;
        }

        .all-confirmed-btn {
          font-size: 13px;
          border-radius: 5px;
          background: #000;
          padding: 4px;
          margin-left: 3px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      .confirmed-period {
        font-size: 12px;
        color: #000;
      }
    }

    .mayor-news-area {
      position: relative;
      height: 204px;

      .thumb-box {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        padding: 15px;
        text-align: center;
      }
    }

    .mayor-wish-area {
      position: relative;
      width: 100%;
      height: 90px;
      background-image: url("../images/wish-mayor.png");
      background-repeat: no-repeat;
      background-size: 100% 90px;

      .top-btn {
        position: absolute;
        top: 15px;
        right: 10px;
        border-radius: 10px;
        padding: 8px;
        font-size: 13px;
        background: #84694a;
        color: #fff;
        letter-spacing: -1px;
      }

      .bottom-btn-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1px;

        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 26px;
        font-size: 12px;

        button {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px 0;
          color: #fff;
          background: #84694a;

          &:first-child {
            letter-spacing: -1px;
          }
        }
      }
    }

  }
}



.section-main_service {
  margin-top: 40px;

  .title-box {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;

    .link-allNoori {
      display: inline-block;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      border: 1px solid #ddd;
      width: 90px;
      margin-left: 30px;
      font-weight: 300;
    }

    .link-area {
      display: flex;
      align-items: center;
      position: relative;
      gap: 10px;
      margin-left: auto;

      .link-story-seoul {
        display: inline-block;
        width: 65px;
        height: 30px;
        background: url("../images/main-service-event.png") no-repeat 0 0;
      }

      .bar {
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: #e2e5eb;
      }

      .link-festival-seoul {
        background: #0f0;
        display: inline-block;
        width: 95px;
        height: 30px;
        background: url("../images/main-service-event.png") no-repeat -65px 0;
      }
    }
  }

  .service {
    &-list {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    &-item {
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7px;
        font-size: 15px;
        letter-spacing: -1px;
        height: 90px;
        font-weight: 300;

        &::before {
          content: "";
          width: 60px;
          height: 60px;
        }
      }

      &.public-service {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -360px 0;
        }
      }

      &.response-station {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat 0 0;
        }
      }

      &.job {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -120px 0;
        }
      }

      &.property-info {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -300px 0;
        }
      }

      &.tel-4050 {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -180px 0;
        }
      }

      &.welfare-portal {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -960px 0;
        }
      }

      &.residential-portal {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -780px 0;
        }
      }

      &.monddang-info {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -1140px 0;
        }
      }

      &.imagine-seoul {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -1020px 0;
        }
      }

      &.my-hands-seoul {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -60px 0;
        }
      }

      &.e-book {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -1080px 0;
        }
      }

      &.city-council {
        .title::before {
          background: url("../images/icon_set_service_202205.png") no-repeat -600px 0;
        }
      }
    }
  }
}

.section-complain {
  background: #eff4f8;
  margin-top: 35px;

  .complain {

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 30px;
      font-size: 15px;
      gap: 20px;

      .bar {
        display: inline-block;
        width: 1px;
        height: 50px;
        background-color: #dbdbdb;
      }
    }

    &-item {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .desc {
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}

.section-board {
  margin-top: 50px;
  padding-bottom: 40px;
  max-height: 210px;

  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 50px;
  border-bottom: 2px solid #222222;

  .headline {
    padding-bottom: 10px;
    border-bottom: 2px solid #dbdbdb;
  }

  .board-news,
  .board-event {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    ul {
      margin-top: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 30px;

        .category {
          font-size: 15px;
          font-weight: 300;

          &.economic {
            color: #069363;
          }

          &.administration {
            color: #028ab6;
          }

          &.welfare {
            color: #d76000;
          }

          &.culture {
            color: #9b64d3;
          }

          &.environment {
            color: #599100;
          }

        }

        .text {
          display: block;
          font-size: 15px;
          font-weight: 300;
          max-width: 320px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .link-more {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      display: flex;
      align-items: center;
      border: 1px solid #ddd;

      &::after {
        content: "";
        background: url("../images/icon_set_common.png") no-repeat -1px -1px;
        width: 20px;
        height: 18px;
      }
    }
  }

  .frequently-area {
    flex: 1;

    display: flex;
    flex-direction: column;
    position: relative;

    .headline {
      border: none;
    }

    .service {
      &-list {
        background: #eff4f8;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 160px;
        font-weight: 300;
        box-sizing: border-box;
      }

      &-item {
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 15px;
          line-height: 26px;

          &:before {
            content: '';
            background: #666666;
            width: 2px;
            height: 2px;
          }
        }
      }
    }
  }
}

.section-field {
  padding-top: 50px;

  .field {
    &-list {
      display: flex;
      align-items: center;
      padding: 20px 0;
    }

    &-item {
      flex: 1;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        letter-spacing: -1px;
        font-weight: 300;

        &::before {
          content: "";
          width: 85px;
          height: 85px;
        }
      }

      &.housing {
        .title::before {
          background: url("../images/icon_house.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.economy {
        .title::before {
          background: url("../images/icon_economy.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.transportation {
        .title::before {
          background: url("../images/icon_traffic.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.environment {
        .title::before {
          background: url("../images/icon_environment.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.welfare {
        .title::before {
          background: url("../images/icon_welfare.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.safety {
        .title::before {
          background: url("../images/icon_safty.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.culture {
        .title::before {
          background: url("../images/icon_culture.png") no-repeat center;
          border-radius: 50%;
        }
      }

      &.administration {
        .title::before {
          background: url("../images/icon_work.png") no-repeat center;
          border-radius: 50%;
        }
      }
    }
  }





}

.section-news {
  margin-top: 20px;

  .headline {
    margin-bottom: 20px;
  }

  .news {
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 251px;
      gap: 20px;
    }

    &-item {
      height: 248px;

      a {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;

        .image-box {
          position: relative;

          img {
            width: 100%;
          }

          .category {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 82px;
            height: 32px;

            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 14px;
            color: #fff;

            &.environment {
              background: #599100;
            }

            &.administration {
              background: #028ab6;
            }

            &.traffic {
              background: #337ee2;
            }

            &.safety {
              background: #e44869;
              ;
            }

            &.welfare {
              background: #d76000;
              ;
            }
          }
        }

        .text-box {
          width: 100%;
          height: 50px;
          line-height: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          color: #222;
          word-break: keep-all;
          font-weight: 300;
        }
      }

      &.customized-manual {
        height: 248px;
        width: 273px;
      }
    }
  }


}

.section-seoul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #222222;


  .video-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      position: relative;

      .thumb-box {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-box {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
      }
    }
  }

  .news {
    &-area {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 37px;

        .category {
          color: #09ac43;
          font-weight: 300;
        }

        .text {
          display: block;
          font-size: 15px;
          max-width: 385px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 300;
        }
      }
    }
  }

  .sns-area {
    background-image: url("../images/sns-bg.gif");
    background-repeat: no-repeat;
    width: 350px;
    height: 195px;

    .headline {
      padding: 13px 10px;
      font-size: 22px;
    }

    .sns {
      &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transform: translateY(80%);
      }

      &-item {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &::before {
            content: "";
            width: 40px;
            height: 40px;
          }
        }

        &.instagram {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
          }
        }

        &.facebook {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: -40px 0px;
          }
        }

        &.twiter {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: -80px 0px;
          }
        }

        &.blog {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: -120px 0px;
          }
        }

        &.youtube {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: -160px 0px;
          }
        }

        &.kakaostory {
          a::before {
            background: url("../images/ico_sns_list.png");
            background-repeat: no-repeat;
            background-position: -200px 0px;
          }
        }
      }
    }
  }
}

.notice-slide {
  padding: 50px 0;

  .content {
    position: relative;
    padding-bottom: 30px;

    .swiper {
      padding-bottom: 40px;

      &-wrapper {
        display: flex;
        align-items: center;

        .swiper-slide {
          img {
            width: 100%;
          }
        }
      }
    }

    .control-area {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 1;

      .pagination {
        width: 40px;
        display: flex;
        align-items: center;
        color: #222;

        span {
          font-size: 14px;
          font-weight: 300;
        }

        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 20px;
          background: rgba(255, 255, 255, .5);
          margin-left: 10px;
        }
      }

      .btn-prev {
        background: url("../images/icon_set_common2.png") no-repeat -45px -43px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-left: 1px solid #999;
        border: 1px solid #999;
      }

      .notice-btn-autoplay {
        background: url("../images/icon_set_common2.png") no-repeat -100px -43px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 1px solid #999;
        border-left: none;
      }

      .pause {
        width: 20px;
        height: 20px;
        background: url("../images/icon_set_common2.png") no-repeat -65px -43px;
        cursor: pointer;
        border: 1px solid #999;
        border-left: none;
      }

      .btn-next {
        background: url("../images/icon_set_common2.png") no-repeat -85px -43px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 1px solid #999;
        border-left: none;
      }
    }
  }
}

.section-related {

  .related {
    &-list {
      display: flex;
      align-items: center;
      border: 1px solid #d0d0d0;
      position: relative;
    }

    &-item {
      flex: 1;
      font-size: 14px;
      text-align: center;
      background: #f7f7f7;

      &+.related-item {
        border-left: 1px solid #d0d0d0;
      }

      .sub {
        &-area {
          display: none;
          width: 100%;
          position: absolute;
          bottom: 100%;
          left: 0;
          z-index: 1;
        }

        &-list {
          display: flex;
          flex-wrap: wrap;
          padding: 20px;
          text-align: left;
          // row 만 적용이 된것이다.
          gap: 10px 0;
          line-height: 19px;
        }

        &-item {
          width: 25%;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      height: 50px;
      width: 100%;
      cursor: pointer;

      span {
        position: relative;
        padding-right: 20px;

        &::after {
          content: "";
          position: absolute;
          top: 6px;
          right: 0px;
          height: 7px;
          width: 7px;
          border-style: solid;
          border-color: #373737;
          border-width: 0px 2px 2px 0px;
          transform: rotate(-135deg);
          transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
          transform-origin: center center;
        }
      }

      &.on {
        span {
          &::after {
            top: 4px;
            transform: rotate(45deg);
          }
        }
      }
    }

  }

}

.fixed-btn {
  position: fixed;
  bottom: -100px;
  margin-left: 600px;
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.8s;
  cursor: pointer;


  &.show {
    opacity: 1;
    bottom: 100px;
  }
}