@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #222;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  min-width: 1270px;
}

.inner {
  width: 1152px;
  margin: 0 auto;
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}
#skip-header a:focus, #skip-header a:active {
  transform: translateY(0);
}

.header .inner {
  display: flex;
  align-items: center;
  height: 50px;
}
.header .logo a {
  display: block;
  background-image: url("../images/icon_common.png");
  background-repeat: no-repeat;
  background-position: -5px -166px;
  width: 105px;
  height: 27px;
}
.header .util-area {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 14px;
}
.header .util-area a {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header .gnb {
  padding-left: 70px;
}
.header .gnb .nav-list {
  display: flex;
  gap: 20px;
}
.header .gnb .nav-list .link-nav {
  color: #222;
  font-weight: 500;
}

.footer {
  padding-top: 35px;
}
.footer .link-area {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.footer .link-area .noori-list {
  display: flex;
}
.footer .link-area .noori-list .noori-item a {
  font-size: 12px;
  color: #636363;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.footer .link-area .noori-list .noori-item:not(:last-child) a::after {
  content: "";
  display: inline-block;
  background-color: #dcdcdc;
  width: 1px;
  height: 12px;
  margin: 0px 10px;
}
.footer .link-area .noori-list .noori-item .private-info {
  font-weight: 500;
  color: #222;
}
.footer .link-area .sns-list {
  display: flex;
  gap: 10px;
}
.footer .link-area .sns-list .sns-item {
  width: 24px;
  height: 24px;
}
.footer .link-area .sns-list .sns-item.facebook {
  background: url("../images/icon_set_sns.png") no-repeat -25px 0;
  cursor: pointer;
}
.footer .link-area .sns-list .sns-item.twiter {
  background: url("../images/icon_set_sns.png") no-repeat -50px 0;
  cursor: pointer;
}
.footer .link-area .sns-list .sns-item.instagram {
  background: url("../images/icon_set_sns.png") no-repeat -75px 0;
  cursor: pointer;
}
.footer .link-area .sns-list .sns-item.kakaostory {
  background: url("../images/icon_set_sns.png") no-repeat -100px 0;
  cursor: pointer;
}
.footer .link-area .sns-list .sns-item.youtube {
  background: url("../images/icon_set_sns.png") no-repeat -125px 0;
  cursor: pointer;
}
.footer .link-area .sns-list .sns-item.blog {
  background: url("../images/icon_set_sns.png") no-repeat -150px 0;
  cursor: pointer;
}
.footer .address-area {
  display: flex;
  padding: 22px 0;
}
.footer .address-area .qna-area {
  width: 110px;
}
.footer .address-area .qna-area .group {
  display: flex;
  align-items: center;
}
.footer .address-area .qna-area .text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.footer .address-area .qna-area .num {
  font-size: 24px;
  font-weight: 600;
  margin-left: 2px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer .address-area .qna-area .num::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icon_set_common.png") no-repeat -221px -1px;
}
.footer .address-area .qna-area p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: -1px;
}
.footer .address-area .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  color: #636363;
}
.footer .address-area p,
.footer .address-area small {
  font-size: 12px;
  color: #636363;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 17px;
}
.footer .address-area .link-accessibility {
  margin-left: auto;
}

.popup {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.popup.no {
  display: none;
}
.popup .link-popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup-box {
  position: relative;
}
.popup-box .image-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup-box .popup-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 50%;
  bottom: 5px;
  z-index: 1;
  margin-right: -576px;
  width: 150px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.popup-box .popup-close label {
  color: #fff;
  font-size: 12px;
  display: flex;
  gap: 4px;
}
.popup-box .popup-close label::before {
  content: "";
  display: block;
  background-color: #fff;
  border: 1px solid #dddddd;
  width: 10px;
  height: 10px;
}
.popup-box .popup-close label.checked::before {
  content: "";
  display: block;
  background-color: #fff;
  border: 1px solid #dddddd;
  width: 10px;
  height: 10px;
  background: #fff url("../images/icon_input_checked_m.png") no-repeat 50% 50%;
  background-size: 10px auto;
}
.popup-box .popup-close .popup-close-btn {
  width: 24px;
  height: 24px;
  background: url("../images/btn_allmenu_close.png") no-repeat center center;
  background-size: 50% auto;
  cursor: pointer;
}

.container .headline {
  font-size: 24px;
  font-weight: 500;
}

.language-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  margin-bottom: 10px;
}
.language-area .global-language {
  border: 1px solid #afcfea;
  color: #1E6CB3;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 2px 20px 2px 5px;
  background-image: url("../images/bg_select_arrow_m.png");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: 96%, 5px;
}
.language-area .select-lang-btn {
  background-color: #1E6CB3;
  color: #fff;
  height: 21px;
  font-size: 11px;
  padding: 0 5px;
  font-weight: 300;
}

.box1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 30px;
}
.box1 .slogan-area {
  display: block;
  background: url("../images/seoul-slogan.png") no-repeat;
  width: 133px;
  height: 51px;
}
.box1 .search-area {
  border: 3px solid #2292e9;
  height: 42px;
  width: 520px;
  display: flex;
  align-items: center;
  position: relative;
}
.box1 .search-area > * {
  width: 100%;
}
.box1 .search-input {
  padding: 10px;
  width: calc(100% - 100px);
}
.box1 .search-input::-moz-placeholder {
  color: #2292e9;
  font-size: 14px;
  font-weight: 300;
}
.box1 .search-input::placeholder {
  color: #2292e9;
  font-size: 14px;
  font-weight: 300;
}
.box1 .search-btn-area {
  display: flex;
  gap: 15px;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.box1 .search-btn-area .keyboard-btn {
  width: 29px;
  height: 16px;
  background: url("../images/search_input_icon.png") no-repeat;
}
.box1 .search-btn-area .search-btn {
  width: 36px;
  height: 36px;
  background: url("../images/icon_set_common.png") -40px -97px;
}
.box1 .weather-area {
  width: 270px;
  display: flex;
  align-items: flex-start;
}
.box1 .weather-area .title {
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
}
.box1 .weather-area .temperatures {
  font-size: 25px;
}
.box1 .weather-area .right {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.box1 .weather-area .right .flex-area {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.box1 .weather-area .right .flex-area .status {
  font-size: 16px;
  letter-spacing: -0.1em;
  line-height: 1.35em;
  font-weight: 300;
}
.box1 .weather-area .right .flex-area + * {
  font-size: 13px;
  letter-spacing: -1px;
  font-weight: 300;
}
.box1 .weather-area .right .flex-area + * .good {
  color: #0068b7;
}
.box1 .weather-area .right .flex-area + * .average {
  color: #009944;
}

.flex-area {
  margin-top: 10px;
  display: flex;
  gap: 22px;
}
.flex-area .section-issue {
  display: flex;
  align-items: center;
}
.flex-area .section-issue .issue-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100%;
}
.flex-area .section-issue .issue-nav button {
  flex: 1;
  width: 100%;
  font-size: 14px;
  background-color: #d2e1e9;
  cursor: pointer;
}
.flex-area .section-issue .issue-nav button.btn-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flex-area .section-issue .issue-nav button.btn-news:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background: url("../images/icon_main_2019.png") no-repeat 0px 0;
  border-radius: 50%;
  background-color: #fff;
}
.flex-area .section-issue .issue-nav button.btn-citizen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flex-area .section-issue .issue-nav button.btn-citizen:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background: url("../images/icon_main_2019.png") no-repeat -50px 0;
  border-radius: 50%;
  background-color: #fff;
}
.flex-area .section-issue .issue-nav button.on {
  background-color: #0158a8;
  position: relative;
}
.flex-area .section-issue .issue-nav button.on span {
  color: #fff;
}
.flex-area .section-issue .issue-nav button.on::after {
  content: " ";
  position: absolute;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: 10;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.flex-area .section-issue .swiper {
  width: 690px;
  height: 350px;
  margin-right: 0;
  margin-left: 0;
}
.flex-area .section-issue .swiper-slide {
  width: 100%;
}
.flex-area .section-issue .swiper-slide a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.flex-area .section-issue .swiper-slide a .thumb-box {
  width: 100%;
}
.flex-area .section-issue .swiper-slide a .thumb-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.flex-area .section-issue .swiper-slide a .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 720px;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.flex-area .section-issue .swiper .swiper-control-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
  padding: 12px;
}
.flex-area .section-issue .swiper .swiper-control-area .pagination {
  width: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}
.flex-area .section-issue .swiper .swiper-control-area .pagination span {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.flex-area .section-issue .swiper .swiper-control-area .pagination::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
.flex-area .section-issue .swiper .swiper-control-area .btn-prev {
  background: url("../images/icon_set_common2.png") no-repeat -242px -284px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  cursor: pointer;
}
.flex-area .section-issue .swiper .swiper-control-area .btn-autoplay {
  width: 20px;
  height: 20px;
  background: url("../images/icon_set_common2.png") no-repeat -269px -284px;
  cursor: pointer;
}
.flex-area .section-issue .swiper .swiper-control-area .btn-autoplay.pause {
  background: url("../images/icon_set_common2.png") no-repeat -282px -284px;
}
.flex-area .section-issue .swiper .swiper-control-area .btn-next {
  background: url("../images/icon_set_common2.png") no-repeat -255px -284px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.flex-area .box2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.flex-area .box2 .section-covid19 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 7px;
  background: #99ddf4;
  letter-spacing: -1px;
}
.flex-area .box2 .section-covid19 .title {
  font-size: 15px;
  font-weight: 600;
}
.flex-area .box2 .section-covid19 .confirmed {
  display: flex;
  align-items: center;
  background: #319ac6;
  padding-left: 4px;
  border-radius: 5px;
  overflow: hidden;
}
.flex-area .box2 .section-covid19 .confirmed .person {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.flex-area .box2 .section-covid19 .confirmed .count {
  margin: 0 3px;
  font-weight: 400;
}
.flex-area .box2 .section-covid19 .confirmed .link-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 5px;
  background: #000;
  color: #fff;
  padding: 4px;
  margin-left: 3px;
  cursor: pointer;
}
.flex-area .box2 .section-covid19 .confirmed .link-all::after {
  content: "▶";
  font-size: 9px;
}
.flex-area .box2 .section-covid19 .date {
  font-size: 12px;
  color: #000;
}
.flex-area .box2 .section-administration_news {
  position: relative;
  height: 204px;
}
.flex-area .box2 .section-administration_news .thumb-box {
  width: 100%;
  height: 100%;
}
.flex-area .box2 .section-administration_news .thumb-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.flex-area .box2 .section-administration_news .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
}
.flex-area .box2 .section-mayor_wish {
  position: relative;
  width: 100%;
  height: 90px;
  background-image: url("../images/wish-mayor.png");
  background-repeat: no-repeat;
  background-size: 100% 90px;
}
.flex-area .box2 .section-mayor_wish .title {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
  background: #84694a;
  color: #fff;
  letter-spacing: -1px;
}
.flex-area .box2 .section-mayor_wish .wish-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 26px;
  font-size: 12px;
}
.flex-area .box2 .section-mayor_wish .wish-nav .link-wish {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  color: #fff;
  background: #84694a;
}
.flex-area .box2 .section-mayor_wish .wish-nav .link-wish:first-child {
  letter-spacing: -1px;
}

.section-service {
  margin-top: 40px;
  position: relative;
}
.section-service .group-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.section-service .group-header .link-area {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  margin-left: auto;
}
.section-service .group-header .link-area .link-story {
  display: inline-block;
  width: 65px;
  height: 30px;
  background: url("../images/main-service-event.png") no-repeat 0 0;
}
.section-service .group-header .link-area .bar {
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #e2e5eb;
}
.section-service .group-header .link-area .link-festival {
  background: #0f0;
  display: inline-block;
  width: 95px;
  height: 30px;
  background: url("../images/main-service-event.png") no-repeat -65px 0;
}
.section-service .service-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.section-service .service-item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  font-size: 15px;
  letter-spacing: -1px;
  height: 90px;
  font-weight: 300;
}
.section-service .service-item .title::before {
  content: "";
  width: 60px;
  height: 60px;
}
.section-service .service-item.public .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -360px 0;
}
.section-service .service-item.response .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat 0 0;
}
.section-service .service-item.job .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -120px 0;
}
.section-service .service-item.property .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -300px 0;
}
.section-service .service-item.tel .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -180px 0;
}
.section-service .service-item.welfare .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -960px 0;
}
.section-service .service-item.residential .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -780px 0;
}
.section-service .service-item.monddang .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -1140px 0;
}
.section-service .service-item.hands .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -1020px 0;
}
.section-service .service-item.imagine .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -60px 0;
}
.section-service .service-item.eBook .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -1080px 0;
}
.section-service .service-item.council .title::before {
  background: url("../images/icon_set_service_202205.png") no-repeat -600px 0;
}
.section-service .link-all {
  position: absolute;
  top: 2px;
  left: 147px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  width: 90px;
  font-weight: 300;
}

.section-complain {
  background: #eff4f8;
  margin-top: 35px;
}
.section-complain .complain-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  font-size: 15px;
  gap: 20px;
}
.section-complain .complain-list .bar {
  display: inline-block;
  width: 1px;
  height: 50px;
  background-color: #dbdbdb;
}
.section-complain .complain-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-complain .complain-item a .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.section-complain .complain-item + .bar + .complain-item .desc {
  display: flex;
  align-items: center;
  gap: 7px;
}
.section-complain .complain-item + .bar + .complain-item .desc::after {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #c6d3e0;
  color: #fff;
  border-radius: 50%;
}

.box3 {
  margin-top: 50px;
  padding-bottom: 40px;
  max-height: 210px;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 50px;
  border-bottom: 2px solid #222222;
}
.box3 .headline {
  padding-bottom: 10px;
  border-bottom: 2px solid #dbdbdb;
}
.box3 .section-event,
.box3 .section-festival {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box3 .section-event ul,
.box3 .section-festival ul {
  margin-top: 10px;
}
.box3 .section-event ul a,
.box3 .section-festival ul a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.box3 .section-event ul a .category,
.box3 .section-festival ul a .category {
  font-size: 15px;
  font-weight: 300;
}
.box3 .section-event ul a .category.economic,
.box3 .section-festival ul a .category.economic {
  color: #069363;
}
.box3 .section-event ul a .category.administration,
.box3 .section-festival ul a .category.administration {
  color: #028ab6;
}
.box3 .section-event ul a .category.welfare,
.box3 .section-festival ul a .category.welfare {
  color: #d76000;
}
.box3 .section-event ul a .category.culture,
.box3 .section-festival ul a .category.culture {
  color: #9b64d3;
}
.box3 .section-event ul a .category.environment,
.box3 .section-festival ul a .category.environment {
  color: #599100;
}
.box3 .section-event ul a .text,
.box3 .section-festival ul a .text {
  display: block;
  font-size: 15px;
  font-weight: 300;
  max-width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box3 .section-event .link-more,
.box3 .section-festival .link-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
}
.box3 .section-event .link-more::after,
.box3 .section-festival .link-more::after {
  content: "";
  background: url("../images/icon_set_common.png") no-repeat -1px -1px;
  width: 20px;
  height: 18px;
}
.box3 .section-frequently {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box3 .section-frequently .headline {
  border: none;
}
.box3 .section-frequently .service-list {
  background: #eff4f8;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  font-weight: 300;
  box-sizing: border-box;
}
.box3 .section-frequently .service-item .title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 26px;
}
.box3 .section-frequently .service-item .title:before {
  content: "";
  background: #666666;
  width: 2px;
  height: 2px;
}

.section-field {
  padding-top: 50px;
}
.section-field .field-list {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.section-field .field-item {
  flex: 1;
}
.section-field .field-item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  letter-spacing: -1px;
  font-weight: 300;
}
.section-field .field-item .title::before {
  content: "";
  width: 85px;
  height: 85px;
}
.section-field .field-item.housing .title::before {
  background: url("../images/icon_house.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.economy .title::before {
  background: url("../images/icon_economy.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.transportation .title::before {
  background: url("../images/icon_traffic.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.environment .title::before {
  background: url("../images/icon_environment.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.welfare .title::before {
  background: url("../images/icon_welfare.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.safety .title::before {
  background: url("../images/icon_safty.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.culture .title::before {
  background: url("../images/icon_culture.png") no-repeat center;
  border-radius: 50%;
}
.section-field .field-item.administration .title::before {
  background: url("../images/icon_work.png") no-repeat center;
  border-radius: 50%;
}

.section-news {
  margin-top: 20px;
  position: relative;
}
.section-news .headline {
  margin-bottom: 20px;
}
.section-news .news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 251px;
  gap: 20px;
}
.section-news .news-item {
  height: 248px;
}
.section-news .news-item a {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
.section-news .news-item a .image-box {
  position: relative;
}
.section-news .news-item a .image-box img {
  width: 100%;
}
.section-news .news-item a .image-box .category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: #fff;
}
.section-news .news-item a .image-box .category.environment {
  background: #599100;
}
.section-news .news-item a .image-box .category.administration {
  background: #028ab6;
}
.section-news .news-item a .image-box .category.traffic {
  background: #337ee2;
}
.section-news .news-item a .image-box .category.safety {
  background: #e44869;
}
.section-news .news-item a .image-box .category.welfare {
  background: #d76000;
}
.section-news .news-item a .text-box {
  width: 100%;
  height: 50px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: #222;
  word-break: keep-all;
  font-weight: 300;
}
.section-news .news-item.customized-manual {
  height: 248px;
  width: 273px;
}
.section-news .link-all {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  font-weight: 300;
  color: #7d7d7d;
}
.section-news .link-all::after {
  content: "";
  display: block;
  background: url(../images/icon_set_common.png) no-repeat -62px -260.5px;
  width: 15px;
  height: 15px;
}

.section-seoul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #222222;
}
.section-seoul .video-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-seoul .video-area a {
  position: relative;
}
.section-seoul .video-area a .thumb-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-seoul .video-area a .text-box {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
.section-seoul .news-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-seoul .news-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-seoul .news-item a {
  line-height: 37px;
}
.section-seoul .news-item a .category {
  color: #09ac43;
  font-weight: 300;
}
.section-seoul .news-item a .text {
  display: block;
  font-size: 15px;
  max-width: 385px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
}
.section-seoul .sns-area {
  background-image: url("../images/sns-bg.gif");
  background-repeat: no-repeat;
  width: 350px;
  height: 195px;
  position: relative;
}
.section-seoul .sns-area .link-all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-seoul .sns-area .headline {
  padding: 13px 10px;
  font-size: 22px;
}
.section-seoul .sns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: translateY(80%);
}
.section-seoul .sns-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.section-seoul .sns-item a::before {
  content: "";
  width: 40px;
  height: 40px;
}
.section-seoul .sns-item.instagram a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.section-seoul .sns-item.facebook a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: -40px 0px;
}
.section-seoul .sns-item.twiter a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: -80px 0px;
}
.section-seoul .sns-item.blog a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: -120px 0px;
}
.section-seoul .sns-item.youtube a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: -160px 0px;
}
.section-seoul .sns-item.kakaostory a::before {
  background: url("../images/ico_sns_list.png");
  background-repeat: no-repeat;
  background-position: -200px 0px;
}

.section-notice {
  padding: 50px 0;
  position: relative;
}
.section-notice .swiper {
  padding-bottom: 40px;
}
.section-notice .swiper-wrapper {
  display: flex;
  align-items: center;
}
.section-notice .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.section-notice .control-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}
.section-notice .control-area .pagination {
  width: 40px;
  display: flex;
  align-items: center;
  color: #222;
}
.section-notice .control-area .pagination span {
  font-size: 14px;
  font-weight: 300;
}
.section-notice .control-area .pagination::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
.section-notice .control-area .btn-prev {
  background: url("../images/icon_set_common2.png") no-repeat -45px -43px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-left: 1px solid #999;
  border: 1px solid #999;
}
.section-notice .control-area .notice-btn-autoplay {
  background: url("../images/icon_set_common2.png") no-repeat -100px -43px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid #999;
  border-left: none;
}
.section-notice .control-area .pause {
  width: 20px;
  height: 20px;
  background: url("../images/icon_set_common2.png") no-repeat -65px -43px;
  cursor: pointer;
  border: 1px solid #999;
  border-left: none;
}
.section-notice .control-area .btn-next {
  background: url("../images/icon_set_common2.png") no-repeat -85px -43px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid #999;
  border-left: none;
}

.section-related .related-list {
  display: flex;
  align-items: center;
  position: relative;
}
.section-related .related-item {
  flex: 1;
  font-size: 14px;
  text-align: center;
  background: #f7f7f7;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.section-related .related-item + .related-item {
  border-right: 1px solid #d0d0d0;
}
.section-related .related-item .sub-area {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  background: #fff;
  border: 1px solid #d0d0d0;
  padding: 20px;
}
.section-related .related-item .sub-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px 0;
  line-height: 19px;
}
.section-related .related-item .sub-item {
  width: 25%;
}
.section-related .related-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.section-related .related-btn span {
  position: relative;
  padding-right: 20px;
}
.section-related .related-btn span::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(-135deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
.section-related .related-btn.on span::after {
  top: 4px;
  transform: rotate(45deg);
}

.fixed-btn {
  position: fixed;
  bottom: -100px;
  margin-left: 600px;
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.8s;
  cursor: pointer;
}
.fixed-btn.show {
  opacity: 1;
  bottom: 100px;
}

@media (max-width: 1270px) {
  .fixed-btn {
    left: auto;
    right: 0;
    margin-left: auto;
  }
}